
:root {
    --branding-color: #64a36f;
    --secondary-color: #fbfae1;
    --accent-color: #cef0b9;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    
}

h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 128px; 
}

h2 {
    font-size: 64px;
    line-height: 85px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    padding: 200px 20px;
}

.hero p {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #272142;
}

.hero h2{
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
    color: #272142;
}

.btn-branding{
    padding: 18px 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--branding-color);
    color: white;
    margin-top: 49px;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
}

.btn-branding:hover{
    background-color: var(--accent-color);
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
}

.btn-branding-outline {
    padding: 18px 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    border-radius: 4px;
    transition: all 150ms ease-in-out;
}

.btn-branding-outline:hover {
    background-color: var(--accent-color);
    color: var(--branding-color);
}

.snapshot {
    padding: 120px 30px;
    background: var(--secondary-color);
}
.snapshot img {
    border-radius: 4px;
}

.project-description {
    padding: 120px 60px;
}

.content-container {
    padding: 200px 20px;
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px
    ;
}

.content-container h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
    line-height: 1.5;
}

.content {
    padding: 30px;
}

.julia img{
    border-radius: 5px;
}

@media (max-width: 960px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 45px
    }
    .hero{
        padding: 125px 10px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .content-container{
        text-align: center;
        padding: 50px 0;
    }
}