
:root {
    --branding-color: #618867;
    --secondary-color: #c3d4c0;
    --accent-color: #e3f6e0;
    --primary-font-color: #545454;
    --heading-font-family: 'Poppins', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    
}

h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 128px; 
}

h2 {
    font-size: 64px;
    line-height: 85px;
}

h3 {
    font-size: 48px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

a{
    color: var(--branding-color);
}

.hero{
    background: var(--secondary-color);
    text-align: center;
    padding: 50px 20px 100px;
}

.hero img{
    padding: 0;
    max-height: 300px;
}


.hero h2{
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 12px;
    color: var(--primary-font-color);
}

.btn-branding{
    padding: 18px 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--branding-color);
    color: white;
    margin-top: 25px;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
}

.btn-branding:hover{
    background-color: var(--accent-color);
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
}

.btn-branding-outline {
    padding: 18px 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    border-radius: 4px;
    transition: all 150ms ease-in-out;
}

.btn-branding-outline:hover {
    background-color: var(--accent-color);
    color: var(--branding-color);
}

.snapshot {
    padding: 90px 30px;
    background: var(--secondary-color);
}
.snapshot img {
    border-radius: 4px;
}
.snapshot-work {
    padding: 30px 30px;
    background: var(--secondary-color);
}
.snapshot-work img {
    border-radius: 4px;
}
.project-description {
    padding: 90px 60px;
}

.content-container {
    padding: 60px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
    line-height: 1.5;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}
.content {
    padding: 30px;
}

.julia img{
    border-radius: 5px;
}

.work-h2{
    text-align: center;
}

nav .logo {
    max-height: 90px;
    padding-top: 5px;
}

nav {
    padding: 0 0 15px;
    
}
nav ul {
    padding: 50px 0 0;
    margin: 0;
}

nav li {
    font-weight: 500;
    display: inline;
    list-style: none;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: var(--primary-font-color);
    transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
    text-decoration: none;
    color: var(--branding-color);
}

footer{
    margin: 60px 0;
}
footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 90px;
    border-radius: 5px;
}

footer .contact-box p{
    margin: 0
}
footer .btn-branding{
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 24px;
    text-align: center;
    transition: all 100ms ease-in-out;
}

footer .email-link:hover{
    color: var(--branding-color);
}

footer .social-links a {
    margin: 20px 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
    color: white;
    background-color: var(--branding-color);
}

footer .attribute {
    padding: 0px 30px 30px;
}


@media (max-width: 960px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 45px
    }

    h3{
        font-size: 22px;
    }
    .content h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .hero{
        padding: 80px 10px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .content-container{
        text-align: center;
        padding: 50px 0;
    }

    nav .logo {
        max-height: 40px;
    }
    nav ul {
        padding: 20px 0 0;
    }
    footer .contact-box{
        padding: 30px;
    }
    footer .btn-branding{
        font-size: 18px;
        padding: 18px 24px;
    }
    footer .attribute{
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 45px
    }
    h3{
        font-size: 22px;
    }
    .content h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .hero{
        padding: 125px 10px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .content-container{
        text-align: center;
        padding: 50px 0;
    }

    nav .logo {
        display: none;
    }

    nav ul {
        padding: 25px 0 0;
    }
    nav li{
        margin-left: 5px;
    }

    footer .email-link{
        font-size: 20px;
    }
    footer .attribute{
        font-size: 16px;
    }

}